.story-txt{
    text-align: center;
    text-decoration: none;
    color: rgb(85, 178, 240);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,

}
#s{
    color: red;
}